.Services h3{
    color:#146788 ;
}
.title{
    font-weight: 16px;
    color: #146788;
    font-size: 35px;
    text-align: center;
    
}
    
.Services{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    
}


.Services .program{
    border-style: solid;
    border-color: lightslategrey;
    border-radius: 3px;
    border-width: 1px;
}
.program img{
    margin-left: 170px;
    margin-top: 10px;
    border-radius: 10px;
    display: block;

}

.program{
    flex-basis: 31%;
    position: relative;
    height: 300px;
    width: 180px;
    box-sizing: 10px;
    align-items: center;
    text-align: center;
    justify-content: first baseline;
    border-style: solid;
    border: 2px;
}

.program:hover{
    box-shadow: 3px 3px 8px 8px lightblue;
    border-radius: 3px;
}

.Services h3{
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 25px;
}


/*.tag{
    text-align: center;
    border-radius: 1px;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,15,152,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #100101;
    cursor: pointer;
    opacity: 0;
    font-size: 80px;
    padding-top: 70%;
    transition: 0.4s;
}*/
.program p{
    color:#676767;
    
}


@media(min-width: 321px) and (max-width: 479.95px){
    .Services{
        flex-direction: row;
        width: 560px;
        font-size: 3vw;
    }
    .Services h3{
        font-size: 4vw;
    }
    .Services p{
        text-align: left;
        padding-left: 3px;
        padding-right: 3px;
        font-size: 3vw;
    }
    .Services h2{
        text-align: center;
    }
    .Services .program{
      
        margin: 20px;
        width: 400px;
    }
    .program img{
        display: none;
    }
    
}