.hero{
    width: 100%;
    min-height: 80vh;
    background: linear-gradient(rgba(58, 40, 0, 0.7),rgba(3, 50, 79, 0.7)), url('../../assets/front2.jpg');
    background-size: cover ;
    background-position: center;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text{
    text-align: center;
    justify-content: center;
    max-width: 800px;
}

.hero-text h1{
    font-size: 60px;
    font-weight: 600;
}
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;

}

@media (min-width: 321px) and (max-width: 479.95px){
    .hero{
        width: 560px;
    }
}